/* Variables */
:root {
    --main-bg: #fff;                /* main background */
    --secondary-bg: #EFEFEF;        /* Boxes, footer */
    --primary-text: #000000;        /* All text-content */
    --secondary-text: #1D3557;      /* Menu */

    --primary-btn: #1D3557; 
    --secondary-btn: #000000;
}

/* Global settings */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--main-bg);
    font-size: 16px;

}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Sections / page settings*/



/* utility classes */

/* text settings */
.text-hdg {font-size: 2.2rem; line-height: 1.3;}
.text-subhdg {font-size: 1.5rem; line-height: 1.4;}
.text-md {font-size: 1rem; line-height: 1.5;}
.text-sm {font-size: 0.9rem; line-height: 1.5;}

/* containers */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

/* Buttons */
.btn {
    display: inline-block;
    text-align: center;
    padding: 1rem 2rem;
    cursor: pointer;
    border: none; 
    transition: opacity 0.2s ease;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary {
    background: var(--primary-btn);
    color: var(--main-bg);
}

.btn-secondary {
    background: none;
    border: 1px solid var(--secondary-btn);
    color: var(--secondary-btn);
}

.btn-full {
    display: block;
    width: 100%;
}

/* Media queries */