/* Variables */
:root {
    --main-bg: #fff;                /* main background */
    --secondary-bg: #EFEFEF;        /* Boxes, footer */
    --primary-text: #000000;        /* All text-content */
    --secondary-text: #1D3557;      /* Menu */

    --primary-btn: #1D3557; 
    --secondary-btn: #000000;
}

/* ------------------------ */



/* Global settings */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--main-bg);
    font-size: 16px;
    font-family: "Inria Serif", serif;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* ------------------------ */

/* Sections / page settings*/

/* Header */
.site-header {
    background: var(--main-bg);
    color: var(--secondary-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.site-header .nav-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.site-header .header-logo {
    width: 160px;
    height: auto;
    padding: 0.5rem 0;
}

.site-header .main-nav ul{
    display: flex;
    height: 100%;
}

.site-header .main-nav ul li a{
    height: 100%;
    display: block;
    padding: 0.75rem 1rem;
    font-size: 0.9rem;
}

.site-header a {
    color: var(--secondary-text);
}
.site-header .main-nav a:hover {
    opacity: 0.8;
    background-color: var(--secondary-bg);
}

/* Mobile menu - settings */

.site-header .nav-actions .hamburger {
    display: none;
    border: none;
    background: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--primary-btn);
}

.mobile-menu .meny-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--primary-btn);
    color: var(--primary-btn);
}
.mobile-menu .meny-wrap button {
    border: none;
    background: none;
    color: var(--primary-btn);
}
.mobile-menu .meny-wrap i{
    font-size: 1.5rem;
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 85%;
    height: 100dvh;
    background-color: var(--main-bg);
    padding: 1rem 2rem;
    box-shadow: -20px 0 20px rgba(0,0,0,0.5);
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    z-index: 1001;
}
.mobile-menu.open {
    right: 0;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--secondary-text);
}

.mobile-menu ul li a{
    color: var(--secondary-text);
    font-size: 1.2rem;
    padding: 0.5rem 0.5rem 0.5rem 0;
}

/* Footer */
.site-footer {
    background: var(--primary-btn);
    color: var(--main-bg);
}

.site-footer .footer-logo{
    width: 160px;
    height: auto;
}

.site-footer .footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.site-footer h3{
    margin-bottom: 1rem;
}

.site-footer a {
    color: var(--main-bg);
    font-size: 0.8rem;
    line-height: 1.5;
}

.site-footer a:hover {
    color: var(--secondary-bg);
    text-decoration: underline;
}

/* -----------------Index---------------- */

/* Banner */
.banner {
    height: 100dvh;
    width: 100%;
    background-image: url(/assets/backgrounds/index-header-bg.jpg);
    background-size: cover;
    background-position: center;
}

.banner .container {
    display: flex;
    gap: 2rem;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    color: var(--main-bg);
}

.banner a {
    border: none;
    background: var(--main-bg);
}

/* Best sellers */
.best-sellers h2 {
    margin-bottom: 1rem;
}

/* News */
.news h2 {
    margin-bottom: 1rem;
}
.news h3 {
    margin-bottom: 1rem;
}
.news p {
    margin-bottom: 3rem;
}

.news .news-box {
    display: grid;
    grid-template-columns: 60% 40%;
}

.news .news-text {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}

/* Video */

.video video {
    width: 100%;
    height: auto;
    display: block;
}

/* Reviews */

.reviews h2 {
    margin-bottom: 1rem;
}
.reviews h3 {
    margin-bottom: 2rem;
}
.reviews p {
    font-style: italic;
}

.reviews .review-card {
    background: var(--secondary-bg);
    padding: 1rem 1rem 4rem;
}

.reviews .grid {
    margin-bottom: 2rem;
}

.reviews .btn-wrapper {
    display: flex;
    justify-content: center;
}

/* ------------------Products----------------- */

.first-box{
    margin-top: 4rem;
}

.category h2 {
    margin-bottom: 1rem;
}
/* ----------------Product - page-----------*/
.product-page .product-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
    margin: 2rem 0;
}

.product-page .product-images {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.product-page .product-images .thumbnails-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.product-page .product-info h1 {margin-bottom: 0.5rem;}
.product-page .product-info .price {margin-bottom: 2rem;}


.product-page .product-info .form-row {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}
.product-page .product-info select {
    padding: 0.25rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    cursor: pointer;
}

.product-page .product-info .btn-group {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
/* -----------------Cart--------------------- */

/* Heading */
.shopping-cart .container {
    margin-top: 4rem;
}
.shopping-cart h1 {
    margin-bottom: 1rem;
}
.shopping-cart h2 {
    margin-bottom: 0.5rem;
}

.shopping-cart .flex-headings {
    display: grid;
    grid-template-columns: 7fr 1fr 1fr;
    border-bottom: 1px solid var(--primary-text);
    margin-bottom: 1rem;
}

/* Cart-items*/
.shopping-cart .cart-items {
    display: grid;
    grid-template-columns: 7fr 1fr 1fr;
    margin-bottom: 1rem;
}

.shopping-cart .cart-items .product-box {
    display: flex;
}

.shopping-cart .cart-items .product-box img {
    max-width: 165px;
    height: auto;
    margin-right: 1rem;
}

.shopping-cart .amount-box select {
    padding: 0.25rem;
    cursor: pointer;
}

.shopping-cart .amount-box button {
    border: none;
    color: var(--secondary-bg);
    background-color: #E94E4E;
    padding: 0.3rem 0.4rem;
    cursor: pointer;
}
.shopping-cart .amount-box button:hover {
    opacity: 0.7;
}

/* Payment */

.shopping-cart .flex-payment {
    display: grid;
    grid-template-columns: 7fr 1fr 1fr;
    border-top: 1px solid var(--primary-text);
    padding: 1rem 0;
}

.shopping-cart .button-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.shopping-cart .button-wrapper .btn {
    padding: 1rem 4rem;
}

/* --------- text-page / About / Policy ------------ */
.text-page {
    margin-top: 2rem;
    background: var(--secondary-bg);
}
.text-page h1 {
    margin-bottom: 2rem;
}
.text-page h2 {
    margin-bottom: 1rem;
}
.text-page p {
    margin-bottom: 2rem;
}
.text-page .p-label{
    margin-bottom: 1rem;
}
.text-page ul {
    list-style: disc;
    margin-left: 1rem;
    line-height: 1.5;
}
.text-page ul li{
    margin-bottom: 0.5rem;
}
.text-page .list-box {
    margin-bottom: 2rem;
}

/* --------- text-page / contact ------------ */
.text-page .contact-form .form-row {
    display: flex;
    flex-direction: column;
}

.text-page .contact-form .form-row label{
    margin-bottom: 0.5rem;
    font-weight: 600;
}
.text-page .contact-form .form-row input, select{
    margin-bottom: 1rem;
    padding: 0.75rem;
    font-family: inherit;
}
.text-page .contact-form .form-row textarea{
    margin-bottom: 3rem;
    padding: 0.75rem;
    font-family: inherit;
}

.text-page .contact-form .btn-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/* ------------------------ */

/* ==================== utility classes ================= */

/* text settings */
.text-hdg {font-size: 2.2rem; line-height: 1.3;}
.text-subhdg {font-size: 1.5rem; line-height: 1.4;}
.text-md {font-size: 1rem; line-height: 1.5;}
.text-sm {font-size: 0.9rem; line-height: 1.5;}

/* containers */
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.container-txt {
    max-width: 600px;
    margin: 0 auto;
    padding: 4rem 1rem;
}

/* Buttons */
.btn {
    display: inline-block;
    text-align: center;
    padding: 1rem 2rem;
    cursor: pointer;
    border: none; 
    transition: opacity 0.2s ease;
    font-family: inherit;
    font-size: inherit;
}

.btn:hover {
    opacity: 0.75;
}

.btn-primary {
    background: var(--primary-btn);
    color: var(--main-bg);
}

.btn-secondary {
    background: none;
    border: 1px solid var(--secondary-btn);
    color: var(--secondary-btn);
}

.btn-full {
    display: block;
    width: 100%;
}

/* grid */

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

/* Product card */

.product-card {
    cursor: pointer;
}
.product-card:hover {
    opacity: 0.75;
}

.product-card img {
    margin-bottom: 0.25rem;
}



/* ------------------------ */



/* Media queries */

@media (max-width: 880px){
    .grid {
        grid-template-columns: 1fr 1fr;
    }
    .news .news-box {
    grid-template-columns: 1fr 1fr;
    }
    .banner .container {
        flex-direction: column;
    }
    .banner .container h1{
        text-align: center;
    }

    .shopping-cart .flex-headings{
        grid-template-columns: 6fr 2fr 1fr;
    }
    .shopping-cart .cart-items{
        grid-template-columns: 6fr 2fr 1fr;
    }
    .shopping-cart .flex-payment {
        grid-template-columns: 6fr 2fr 1fr;
    }

}

@media (max-width: 660px){
    .site-header .nav-actions .hamburger{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .site-header .nav-actions .main-nav{
        display: none;
    }

    .news .news-box {
    grid-template-columns: 1fr;
    }
    .news .news-text {
        padding: 1rem 0;
    }
    .reviews .grid {
        grid-template-columns: 1fr;
    }

    .shopping-cart .cart-items .product-box img{
        max-width: 85px;
    }

}

/* ------------------------ */